<!-- Choose Files -->
<div class="container" id="choosefiles-container"
	ng-controller="choosefilesController">

	<div class="row">
		<div class="col-sm-2 offset-1"></div>
		<div id="view-header" class="col-sm-8">
			<h3>LADDA UPP STACKTRACE</h3>
		</div>
		<div class="col-sm-1"></div>
	</div>

	<div id=view-body>
		<div class="panel panel-info" id="fileDir">
			<div class="panel-heading" id="fileDir-heading">
				<p class="panel-title">FILHANTERAREN</p>
			</div>
			<div class="panel-body" id="fileDir-body">
				<label for="file" class="custom-file-upload"><i
					class="far fa-folder-open"></i> Välj fil</label><input id="file"
					type="file" name="stacktraceFile" ng-file-model="files" multiple />
				<br>
				<p id="filename" ng-repeat="file in files">{{file.name}}</p>
				<button type="button" class="btn btn-success btn-sm mt-3"
					ng-click="Upload()">
					<i class="fas fa-upload"></i> Ladda upp
				</button> 
			</div>
		</div>
		<br>
		<div class="panel panel-info" id="dragdrop" mt-5>
			<div class="panel-heading" id="dragdrop-heading">
				<p class="panel-title">DRAG AND DROP</p>
			</div>
			<div class="panel-body" id="dragdrop-body">
				<div id="dragdrop-placeholder"></div>
			</div>
		</div>
	</div>

</div>