<!-- Header navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="navController">
	<a class="navbar-brand" href="#">StackFilter</a>
	<ul class="nav ml-auto">
		<!-- <div class="dropdown">
			<button class="dropbtn"><i class="fas fa-cogs"></i> Inställningar</button>
			<div class="dropdown-content">
				<a data-toggle="modal" href="#settings-exception-types">Färgkoda exceptions</a> 
				<a href="#">Visa/dölja exceptions</a>
			</div>
		</div> -->
		<li class="nav-item" ng-class="{active: isActive('/home')}"><a href="#"> 
			<i class="fas fa-sign-out-alt"></i>Logga ut</a>
		</li>
	</ul> 
</nav>