<!-- Header navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="navController">
	<a class="navbar-brand" href="#">StackFilter</a>
	<ul class="nav ml-auto">
		<div class="dropdown">
			<button class="dropbtn">Linda Pettersson <i class="fas fa-user"></i> </button>
			<div class="dropdown-content">
				<a data-toggle="modal" href="#settings-exception-types"><i class="fas fa-cogs"></i> Inställningar</a> 
				<a href="#home"><i class="fas fa-sign-out-alt"></i> Logga ut</a>
			</div>
		</div>
		<!-- If to use class active for links: -->
		<!-- <li class="nav-item" ng-class="{active: isActive('/home')}"><a href="#"> 
			<i class="fas fa-sign-out-alt"></i>Logga ut</a>
		</li> -->
	</ul> 
</nav>