<!-- Summary exceptions -->
<div class="container" ng-controller="summaryexceptionsController">
	<div class="row">
		<div id="arrow-back" class="col-sm-2 offset-1"
			ng-click="goToChoosefiles()">
			<i class="fas fa-caret-left fa-5x"></i>
		</div>
		<div id="view-header" class="col-sm-8">
			<h3>ÖVERSIKT - FileNotFound</h3>
		</div>

		<div id="view-body">
			
				<table ng-table="tableParams" show-filter="true" class="table table-responsive-sm center" id="table-exceptions">
					<tr ng-repeat-start="log in $data">
						<td><button ng-if="log.expanded"
								ng-click="log.expanded = false" id="transparent-btn"><i class="fas fa-minus"></i></button>
							<button ng-if="!log.expanded" ng-click="expandSelected(log)" id="transparent-btn"><i class="fas fa-plus"></i></button></td>
						<td title="'Datum'" filter="{ date: 'text'}" sortable="'date'">{{log.date}}</td>
						<td title="'Berörd klass'" filter="{ name: 'text'}"
							sortable="'name'">{{log.name}}</td>
						<!-- <td>
							<button class="btn btn-dark" ng-click="goToSummaryException()">
								<i class="far fa-hand-pointer"></i> Välj
							</button>
						</td> -->
					</tr>
					<tr ng-if="log.expanded" ng-repeat-end="">
						<!-- <td colspan="3">hello</td> -->
						<td colspan="3" id="table-exceptions-details"><span>{{log.logDate}}</span><br>
							<span>{{log.logThread}}</span><br> <span>{{log.logCallID}}</span><br>
							<span>{{log.logException}}</span><br> <span>{{log.logContent}}</span>
						</td>
					</tr>
				</table>
			
		</div>
	</div>