/*** Global ***/
h1, h2, h3, h4, p, a , th, td{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; !important;
	color: #84a2c3; 
}
a {
    color: #383d41; !important;
}
.table td {
	color: #383d41; !important;
	text-align: center;
}
#public-header {
 	text-align: center;
    margin-left: 0%;
    margin-top: 25px;
} 
#view-header {
 	text-align: center;
    margin-left: -7%;
    margin-top: 25px;
}
#view-body {
	padding-top: 3%;
}
#arrow-back {
	text-align: left;
	cursor: pointer;
}
#info-row{
	text-align: center;
}

/*** Navbar ***/
.navbar {
	box-shadow: 0px 0px 13px 0px; !important;
}
.navbar-light .navbar-brand {
    color: #84a2c3; !important;
}


/*** Start Page ***/
.jumbotron{
	background-color: #f3f9ff; !important;
}
#startpage-container {
	margin: auto;
    width: 90%;
    text-align: center;
}
#login-form {
	margin: auto;
    width: 30%;
    text-align: center;
}
#login-buttons {
	text-align: center;
} 


/*** Choose Files ***/

#fileDir, #dragdrop{
    border-style: solid;
    border-radius: 12px;
    border-color: #8aa7c6;
    background-color: #f3f9ff;
    width: 70%;
    margin: auto;
    
}
#fileDir-heading, #dragdrop-heading{
	padding: 2% 0% 3% 3%;
}
#fileDir-body{
	padding: 2% 0% 3% 9%;
}
#dragdrop-body{
	
}
#choosefiles-form {
    width: 100%;
    text-align: left;
}
#choosefiles-step {
	padding: 0px 0px 30px 0px;
}
#step {
	padding: 0px 20px 0px 0px;
}
input[type='file'] {
    /* color: transparent; !important;    */
    display: none;
}
.custom-file-upload {
	border: 1px solid #1b1e21;
    border-radius: 4px;
    background-color: #1b1e21;
    color: white;
    display: inline-block;
    padding: 4px 22px;
    cursor: pointer;
    font-size: 14px;
}
#filename {
	color: #383d41; !important;
}

/***** ALL SUMMARY PAGES ******/
#stacktrace-name, #open-stacktrace-btn{
	display: inline-block;
	margin: 0px 0px 5px 30px;
}

/***** SUMMARY TYPES *******/


/***** SUMMARY EXCEPTIONS *******/


/***** SUMMARY STACKTRACE *******/


/***** TABLES *******/
#table-types, #table-exceptions{
	table-layout: fixed;
}
#table-exceptions-details{
	font-size: 10px;
    text-align: left;
    
}
.center{
	margin: auto;
    width: 80%;
}
#transparent-btn{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.ng-table-pagination ul li{
    padding: 2%; !important;
}
#bottom{
	margin: 10%;
}
#log-content{
	margin-left: 3%;
}






